@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');



html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* Navbar */

#navbarNavDropdown {
    font-size: 1rem;
}

#navigationbar {
    position: sticky;
    width: 99vw;
    top: 0;
    left: 0;
    padding-right: 1rem;
    z-index: 2;
    background-color: #a6a6a6 !important;
    letter-spacing: 0.1rem;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff !important;
    letter-spacing: 0.6rem;
}

.nav-link {
    font-size: .9rem;
    color: #4d4d4d !important;
    text-align: right !important;
}

.nav-link:hover {
    color: #fff !important;
    transition: .1s ease-in-out;
}


/* Home page */


#home {
    background-color: #a6a6a6;
    height: 92.5vh;
    width: 99vw;
    position: relative;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#name {
    color: #fff;
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 1.5rem;

}

#strapline {
    color:#fff;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: .3rem;
}


#birdmain {
    width: 250px;
    height: 100%;
    text-align: center;
}

#me {
    color: #fff;
    font-size: .8rem;
    text-align: center;
    letter-spacing: .3rem;
    padding-top: 6rem;  
}

#me:hover{
    text-decoration: none !important;
    color: #4d4d4d !important;
    transition: .1s ease-in-out;
}

/* General */

.x {
    text-align: center;
}

#birdsmall {
    width: 150px;
    height: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sectionhead {
    color: #000;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: 0.3rem; 
    padding-top: 6rem;
    margin-bottom: -.8rem;
    margin-top: -1rem;
    z-index: 1;
}

.whitetext {
    color: #fff;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
}

.blacktext {
    color: #000;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
}

.sociallinks {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
}

.sociallinks:hover{
    text-decoration: none !important;
    color: #fff !important;
    transition: .1s ease-in-out;
}

/* About page */

#about {
    background-color: #fff;
}

.aboutpanel {
    background-color: #4d4d4d;
    padding: 2rem 2rem 8rem;
}

.skillspanel {
    background-color: #a34966;
    padding: 2rem 2rem 8rem;
}

.educationpanel {
    background-color: #d996a9;
    padding: 2rem 2rem 8rem;
}

.aboutsocial {
    background-color: #dbaf7b;
    padding: 1rem;
}

.listtext {
    color: #fff;
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
}

.listtextblack {
    color:#000;
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
}

.progress-bar {
    color: #fff;
    background-color: #d996a9;
}

/* Projects page */

#projects {
    background-color: #fff;
}

.projectpanel1 {
    background-color: #b3762d;
    padding: 1rem;
}

.projectpanel2 {
    background-color: #273461;
    padding: 1rem;
}

.projectpanel3 {
    background-color: #0d5e4f;
    padding: 1rem;
}

.projectpanel4 {
    background-color: #688499;
    padding: 1rem;
}

.projectname {
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.1rem; 
    font-weight: 500;
    text-align: center;
    padding-top: 0.5rem;
}

.projecttext {
    color: #fff;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
    text-align: center;
}

.projectprogram {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 300;
    text-align: center;
    word-spacing: 1rem;
}

.laptop {
    width: 100%;
}

.view {
    color: #fff;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}

.view:hover{
    color: #000 !important;
    transition: .1s ease-in-out;
}

/* Project modals */


.modaltitle {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem; 
    font-weight: 500;
    text-align: center;
    padding-top: 1rem;
}

.modalbody {
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
    text-align: center;
    padding: 0.5rem;
}

.shut {
    color: #fff !important;
    font-size: 0.7rem !important;
    letter-spacing: 0.1rem !important; 
    font-weight: 300 !important;
    text-align: center !important;
    padding: 1rem !important;
    text-decoration: none !important;
    cursor: pointer;
}

.shut:hover{
    color:#000!important;
    transition: .1s ease-in-out;
}

.weblink {
    color: #fff;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}

.weblink:hover{
    color: #000 !important;
    transition: .1s ease-in-out;
}

.modal-content {
    background-color: #4d4d4d;
}

/* Contact page */

#contact {
    background-color: pink;
    height: 100vh;
}

.contactbox {
    background-color: #cca416;
    padding: 2rem 2rem 8rem;    
}

.contacttext {
    color: #fff;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
}

.btnsend {
    width: 100%;
    background-color: #cca416;
    color: #fff;
    border-color: #fff;
    text-align: left;
}

.btnadmin {
    width: 100%;
    background-color: #ebd581;
    color: #fff; 
    border-color: #fff;
    text-align: left;
}

/* Admin page */

#admincontainer {
    background-color: goldenrod;
}

.adminbox {
    background-color: #688499;
    padding: 2rem 2rem 8rem;
}

.admintext {
    color: #fff;
    text-underline-position: 1rem;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
}

.adminsubhead {
    color: #fff;
    font-size: 2rem;
    line-height: 1.3rem;
    font-weight: 300; 
    letter-spacing: 0.1rem; 
    text-decoration: none;
    padding-bottom: 1rem;
}

.adminsub {
    color: #fff;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500; 
    letter-spacing: 0.1rem; 
    text-decoration: none;
}

.adminsub:hover {
    text-decoration: none !important;
    color: #000 !important;
    transition: .1s ease-in-out;
}

.list {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-weight: 300; 
    letter-spacing: 0.1rem; 
    text-decoration: none;
}

/* Footer */

#footer {
    background-color: #94b59d;
    position: relative;
    height: 10rem;
    clear: both;
}

#adminlink {
    color: #fff !important;
    font-size: 0.7rem !important;
    letter-spacing: 0.1rem !important; 
    font-weight: 300 !important;
    text-align: center !important;
    text-decoration: none !important;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

#adminlink:hover{
    color:#000!important;
    transition: .1s ease-in-out;
}


#copyright {
    color: #fff;
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 0.1rem; 
    text-align: center;
}