@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');



html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* Navbar */

#navbarNavDropdown {
    font-size: 1rem;
}

#navigationbar {
    position: sticky;
    width: 98vw;
    top: 0;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
    background-color: #a6a6a6 !important;
}

#navbarbrand {
    font-size: 4rem !important;
    color: red !important;
}

.nav-link {
    font-size: .9rem;
    color: #000000 !important;
    text-align: right !important;
}

.nav-link:hover {
    color: #fff !important;
    transition: .1s ease-in-out;
}


/* Home page */


#home {
    background-color: #a6a6a6;
    height: 100vh;
    position: relative;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#name {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1.5rem;

}

#strapline {
    color:#fff;
    font-size: 1.65rem;
    text-align: center;
    letter-spacing: .3rem;
}


#birdmain {
    width: 250px;
    height: 100%;
    text-align: center;
}

#v {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 6rem;
}

/* General */

.sectionhead {
    color: #000;
    font-size: 3.5rem;
    padding-top: 6rem;
}

.whitetext {
    color: #fff;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 100;
}

.blacktext {
    color: #000;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 100;
}

.sociallinks {
    color: orange;
}

.projectname {
    color: plum;
}

.projecttext {
    color: brown;
}

.projectprogram {
    color: fuchsia;
}

/* About page */

#about {
    background-color: #fff;
}

.aboutpanel {
    background-color: #333333;
}


.skillspanel {
    background-color: #a34966;
}

.educationpanel {
    background-color: #b88192;
}

.aboutsocial {
    background-color: #a6a6a6;
}

/* Projects page */

#projects {
    background-color: tan;
}

.projectpaneldk {
    background-color: green;
}

.projectpanellight {
    background-color: mediumseagreen;
}

#contact {
    background-color: turquoise;
}

#footer {
    background-color: tomato;
}