{% extends "layout.html" %}
{% block content %}

<section id="about">
    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">about.</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6 aboutpanel">
            <p class="whitetext">I am creative, enthusiastic full-stack web developer, 
            who is passionate about great design and building dynamic, responsive and 
            intuitive websites using the latest programs and languages
            <br />
            <br />
            With a solid background in graphic design, I understand how to 
            signpost and guide users on a journey through a site </p>
            </div>
            <div class="col-sm-10 col-md-2 aboutpanel"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-4 skillspanel">
        <p class="listtext">HTML</p>
        <p class="listtext">CSS</p>
        <p class="listtext">JavaScript</p>
        <p class="listtext">JQuery</p>
        <p class="listtext">Python</p>
        </div>
        <div class="col-sm-8 col-md-4 educationpanel">
        <p class="listtextblack ">Full-Stack Web Development</p>
        <p class="listtext">Code Institute</p>
        <br />
        <p class="listtextblack ">HND Graphic Design</p>
        <p class="listtext">Lincoln Art</p>
        </div>
    </div>
    
    <div class="row justify-content-center ">
        <div class="col-sm-8 col-12 aboutsocial">
            <ul class="list-inline sociallinks">
                    <li class="list-inline-item">
                    <a class="sociallinks" href="https://www.linkedin.com/in/gary-simons/" target="_blank" aria-label="Follow me on LinkedIn">
                        <p class="sociallinks">Li</p>
                    <span class="sr-only ">LinkedIn</span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a class="sociallinks" href="https://twitter.com/GaryColSim" target="_blank" aria-label="Follow me on Twitter">
                        <p class="sociallinks">Tw</p>
                    <span class="sr-only">Twitter</span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a class="sociallinks" href="https://www.instagram.com/garycs/" target="_blank" aria-label="Follow me on Instagram">
                        <p class="sociallinks">Ig</p>
                    <span class="sr-only">Instagram</span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a class="sociallinks" href="https://github.com/" target="_blank" aria-label="Follow me on GitHub">
                        <p class="sociallinks">Gh</p>
                    <span class="sr-only">GitHub</span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a class="sociallinks" href="static/images/Gary_Simons_CV.pdf" target="_blank" aria-label="Download my CV">
                        <p class="sociallinks">Cv</p>
                    <span class="sr-only">CV</span>
                    </a>
                    </li>
                </ul>
        </div>
    </div>
</section>

<!-- Bird -->
        <div class="row col-12 justify-content-center">
            <img id="birdsmall" src="static/images/bird80black.png" alt="Bird" class="img-fluid">
        </div>

{% endblock content %}