{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="admincontainer">
    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">admin.</h3>
    </div>

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 adminbox">
                    <div class="row col-sm-12 col-md-12">
                        <p class="adminsubhead">add skills</p>
                    </div>
                    <div class="row justify-content-center">
            <form action="{{ url_for('insert_skill') }}" method="POST" class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="skill" name="skill" placeholder="Enter skill - ie HTML"><br />
                        <input type="text" class="form-control" id="level" name="level" placeholder="Enter level number - ie 80">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">add skill</button>
                    </div>
                    <div class="row col-12">
                        <a type="button" href="{{url_for('admin')}}" class="btn btn-outline-dark">back to skills</a>
                    </div>
            </form>
            </div>
            </div>
        </div>
</div>

<!-- Bird -->
        <div class="row col-12 justify-content-center">
            <img id="birdsmall" src="static/images/bird80black.png" alt="Bird" class="img-fluid">
        </div>

{% endblock content %}