{% extends "layout.html" %}
{% block content %}

<section id="contact">
    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">admin.</h3>
    </div>

<!--Form-->        
        <div class="container adminbox col-sm-12 col-md-8">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-8">
                    <p class="admintext">Fill in below form</p>
                </div>
            </div>

        <div class="row col-sm-8 col-md-8  justify-content-center">
             
            <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Add Skill
                </button>
            </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                    {% for skills in skills %}
                        <ul class="listx">{{skills.skill}}   {{skills.level}}</ul>
                    {% endfor %}
            </div>
            </div>
        </div>
        </div>

        </div>
    </div>



</section>

<!-- Bird -->
        <div class="row col-12 justify-content-center">
            <img id="birdsmall" src="static/images/bird80black.png" alt="Bird" class="img-fluid">
        </div>


{% endblock content %}