{% extends "layout.html" %}
{% block content %}

<section class="container-fluid  justify-content-center" id="admincontainer">
    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">admin.</h3>
    </div>

<!--Skills Form-->        
    <div class="container adminbox col-sm-12 col-md-8 justify-content-center">

    <div class="row x justify-content-center">
        <div class="col">
         <div class="justify-content-center">   
            <div class="row justify-content-center">
                <div class="row col-sm-8 col-md-8">
                    <p class="adminsubhead">Skills</p>
                </div>
            </div>

        <div class="row col-sm-12 col-md-8">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-chevron-down"></i>  Skills
                                </button>
                            </h2>
                    </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                {% for skills in skills %}
                                    <p class="listx">skill: {{skills.skill}} - level: {{skills.level}}%</p>
                                {% endfor %}
                            </div>
                        </div>



                    </div>
                </div>
        </div>

<div class="row ">
            {% for skills in skills %}
                <p class="row listtext">skill: {{skills.skill}} - level: {{skills.level}}%</p><br />
            {% endfor %}
       </div>   
 

<!--
       <div class="row">
        <div class="row ">
            {% for skills in skills %}
                <p class="row listtext">skill: {{skills.skill}} - level: {{skills.level}}%</p><br />
            {% endfor %}
       </div>      

-->
<!--Add Skills Form  
            <div class="row justify-content-center">
            <form action="{{ url_for('insert_skill') }}" method="POST" class="col-10">
                <h6 class="row formhead">Add Skill</h6>   
                    <div class="form-group">
                        <input type="text" class="form-control" id="skill" name="skill" placeholder="Enter Skill"><br />
                        <input type="text" class="form-control" id="level" name="level" placeholder="Enter Level">
                    </div>
                <button type="submit" class="btn btn-primary">Add Skill</button>
            </form>
            </div>

-Edit Skills Form
            <div class="row justify-content-center">
            <form action="" method="POST" class="col-10">
                <h6 class="row formhead">Edit Skill</h6>   
                    <div class="form-group" id="selectskill" name="selectskill">
                        <label for="exampleFormControlSelect1">Select Skill</label>
                        <select class="form-control">
                        {% for skills in skills %}
                            <option value="{{skills.skill}}">{{skills.skill}}</option>
                        {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Edit Skill</button>
                    </div>

                    <div>
                        <form action="/action_page.php">
                            <input type="checkbox" id="editskill" name="editskill" value="">
                            <label for="vehicle1"> Confirm Changes</label><br>
                            <input type="submit" value="Confirmed">
                        </form>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="skillx" name="skillx" placeholder="Enter Skill">
                    </div>
            </form>
-->  
            </div>
        </div>
        </div>
    </div>

<!-- Bird -->
        <div class="row col-12 justify-content-center">
            <img id="birdsmall" src="static/images/bird80black.png" alt="Bird" class="img-fluid">
        </div>

</section>




{% endblock content %}