{% extends "layout.html" %}
{% block content %}

<section id="contact">
    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">admin.</h3>
    </div>

<!--Form-->        
        <div class="container adminbox col-sm-12 col-md-8">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-8">
                    <p class="admintext">Fill in below form</p>
                </div>
            </div>

        <div class="row col-sm-8 col-md-8  justify-content-center">
             
            <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="adminsub" href="#collapse1">Add Skill</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list">HTML</li>
                    <li class="list">CSS</li>
                    <li class="list">JavaScript</li>
                    <li class="list">JQuery</li>
                    <li class="list">Python</li>
                    <li class="list">MongoDB</li>
                    <li class="list">mySQL</li>
                    <li class="list">Angular</li>
                    <li class="list">Flutter</li>
                    <li class="list">React</li>
                    <li class="list">UX</li>
                </ul>
                </div>
            </div>
            </div>

        </div>
    </div>

</section>

<!-- Bird -->
        <div class="row col-12 justify-content-center">
            <img id="birdsmall" src="static/images/bird80black.png" alt="Bird" class="img-fluid">
        </div>


{% endblock content %}