<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="components/css/style.css" type="text/css"/>




    <title>Gary Simons</title>
</head>


<body>
<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- HomePage -->
<section  id="home" class="container-fluid">
    
    <div class="d-none d-sm-block col-md-12 col-lg-12">
        <h1 id="name">GARY SIMONS</h1>
        <h2 id="strapline">creative full-stack developer</h2>
        <img src="components/images/bird80black.png" alt="Bird" class="img-fluid">
    </div>
</section>

<!-- AboutPage -->
<section id="about justify-content-center">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 sectionhead">about</div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <p class="whitetext">I am creative, enthusiastic full-stack web developer, 
        who is passionate about great design and building dynamic, responsive and 
        intuitive websites using the latest programs and languages
        <br />
        <br />
        With a solid background in graphic design, I understand how to 
        signpost and guide users on a journey through a site </p>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
        <p class="whitetext">HTML</p>
        <p class="whitetext">CSS</p>
        <p class="whitetext">JavaScript</p>
        <p class="whitetext">JQuery</p>
        <p class="whitetext">Python</p>
        </div>
        <div class="col-4">
        <p class="whitetext">Full-Stack Web Development</p>
        <p class="blacktext">Code Institute</p>
        <p class="whitetext">HND Graphic Design</p>
        <p class="blacktext">Lincoln Art</p>
        </div>
        <div class="col-2"></div>
    </div>
    
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <ul class="list-inline sociallinks">
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on LinkedIn">
                <p>Li</p>
              <span class="sr-only">LinkedIn</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on Twitter">
                <p>Tw</p>
              <span class="sr-only">Twitter</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on Instagram">
                <p>Ig</p>
              <span class="sr-only">Instagram</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on GitHub">
                <p>Gh</p>
              <span class="sr-only">GitHub</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Downlaod my CV">
                <p>Cv</p>
              <span class="sr-only">CV</span>
            </a>
            </li>
          </ul>
        </div>
        <div class="col-2"></div>
    </div>
    
</section>

<!-- ProjectsPage -->
<section id="about justify-content-center">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 sectionhead">projects</div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
        <img src="components/images/xxxxx.png" alt="Wild Bunch Project" class="img-fluid">
        <p class="projectname">Wildbunch Florist</p>
        <p class="projecttext">Wild Bunch Florist is a fictional business in Soho</p>
        <p class="projectprogram">HTML CSS</p>
        </div>
        <div class="col-4">
        <img src="components/images/xxxxx.png" alt="Handpicked Brighton Project" class="img-fluid">
        <p class="projectname">Handpicked Brighton</p>
        <p class="projecttext">This is a Brighton city guide for visitors and locals to find places to eat, drink and stay</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMap API</p>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
        <img src="components/images/wildbunch.png" alt="Wild Bunch Project" class="img-fluid">
        <p class="projectname">Wildbunch Florist</p>
        <p class="projecttext">Wild Bunch Florist is a fictional business in Soho</p>
        <p class="projectprogram">HTML CSS</p>
        </div>
        <div class="col-4">
        <img src="components/images/handpicked.png" alt="Handpicked Brighton Project" class="img-fluid">
        <p class="projectname">Handpicked Brighton</p>
        <p class="projecttext">This is a Brighton city guide for visitors and locals to find places to eat, drink and stay</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMap API</p>
        </div>
        <div class="col-2"></div>
    </div>
    
</section>

<!--Footer-->

    <footer id="footer">
      
        <div class="row">
        <div class="col-12">
        <ul class="list-inline sociallinks">
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on LinkedIn">
                <p>Li</p>
              <span class="sr-only">LinkedIn</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on Twitter">
                <p>Tw</p>
              <span class="sr-only">Twitter</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on Instagram">
                <p>Ig</p>
              <span class="sr-only">Instagram</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Follow me on GitHub">
                <p>Gh</p>
              <span class="sr-only">GitHub</span>
            </a>
            <li class="list-inline-item">
            <a href="#" aria-label="Downlaod my CV">
                <p>Cv</p>
              <span class="sr-only">CV</span>
            </a>
            </li>
          </ul>
        </div>

        <div class="row">
        <div class="col-12">
        <p class="whitetext">copyright gary simons</p>
        </div>
        <div class="col-2"></div>
    </div>
      
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- From Bootstrap temp -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- From Bootstrap temp -->


</body>
</html>