{% extends "layout.html" %}
{% block content %}

<section id="projects">

    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">projects.</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-4 projectpanel1">
        <img src="static/images/wildbunch.png" alt="Wild Bunch Project" class="img-fluid laptop">
        <p class="projectname">Wildbunch Florist</p>
        <p class="projecttext">Wild Bunch Florist is a fictional business in Soho</p>
        <p class="projectprogram">HTML CSS</p>
        </div>
        <div class="col-sm-8 col-md-4 projectpanel2">
        <img src="static/images/handpicked.png" alt="Handpicked Brighton Project" class="img-fluid laptop">
        <p class="projectname">Handpicked Brighton</p>
        <p class="projecttext">This is a Brighton city guide for visitors and locals to find places to eat, drink and stay</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMap API</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-4 projectpanel3">
        <img src="static/images/wildbunch.png" alt="Wild Bunch Project" class="img-fluid laptop">
        <p class="projectname">Another website</p>
        <p class="projecttext">This is just dummy copy this is just dummy copy this is just dummy copy</p>
        <p class="projectprogram">HTML CSS</p>
        </div>
        <div class="col-sm-8 col-md-4 projectpanel4">
        <img src="static/images/handpicked.png" alt="Handpicked Brighton Project" class="img-fluid laptop">
        <p class="projectname">Website</p>
        <p class="projecttext">This is just dummy copy this is just dummy copy this is just dummy copy</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMap API</p>
        </div>
    </div>
    
</section>


{% endblock content %}