{% extends "layout.html" %}
{% block content %}

<section id="projects">
    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">projects.</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-4 projectpanel1">
        <img src="static/images/wildbunch.png" alt="Wild Bunch Project" class="img-fluid laptop" data-toggle="modal" data-target="#modal1">
        <p class="projectname">Wildbunch Florist</p> 
        
        <a class="view" aria-label="View website" data-toggle="modal" data-target="#modal1">
            <p class="view">view</p>
        <span class="sr-only">view</span>
        </a>
    </div>
    <div class="col-sm-8 col-md-4 projectpanel2">
        <img src="static/images/handpicked.png" alt="Handpicked Brighton Project" class="img-fluid laptop">
        <p class="projectname">Handpicked Brighton</p>
        <p class="projecttext">This is a Brighton city guide for visitors and locals to find places to eat, drink and stay</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMap API</p>
        <p class="projecttext">This is a visitors guide to the best place to eat, drink and stay in Brighton. It provides the user with a selection of the best that the city has to offer for their time there. I wanted to highlight a 'locals' view of what's great and what they would tell visitors to do and experience it as a local would.<br />
        The illustration on the home page introduces the quirky and playful vibe that Brighton has. It is relaxed and fun. The main sea-green colour used on the website reflect the colour of the paint on the railings and lamp posts etc around the city. It's very much the colour of Brighton, so adds a subtle visual signpost.<br />
        I created the Handpicked Brighton logo to reflect the values of the city. The handwritten font is used to show the creative side and the 'handpicked' aspect as if it's a list written by an actual person. The San Serif is bold, stylish and confident. The two contrast and compliment each other.<br />
        The site is fully responsive, so can be viewed on all devices. This makes it fun and easy to plan your trip from a laptop or tablet from home, or from your phone on the move.<br />
        Each section (EAT, DRINK and STAY) have nine large visual buttons to choose from showing an enticing image of the location, it's name and a simple one word description to give the user help in deciding where to click.<br />
        Each button then takes you to a review page, with a large map showing the location of the venue and a write-up describing it. The bespoke map was designed using Styling Wizard: Google Maps APIs and matches the website colours to enhance the look of the page. At the end of the review is a simple button taking the user to the website, and another taking the user back to the HOME menu.</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMapAPI</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-4 projectpanel3">
        <img src="static/images/wildbunch.png" alt="Wild Bunch Project" class="img-fluid laptop">
        <p class="projectname">Another website</p>
        <p class="projecttext">This is just dummy copy this is just dummy copy this is just dummy copy</p>
        <p class="projectprogram">HTML CSS</p>
        <img src="static/images/monsters.png" alt="Wild Bunch Project" class="img-fluid laptop">
        <p class="projectname">Little Monsters</p>
        <p class="projecttext">This is a childrens game involving matching monsters. The freiendly,  colourful characters are boldly displayed on the home page. They are fun and engaging and help create a safe, relaxed environment. The rough and ready typography matches the monster theme of the site and is again friendly and welcoming<br />
        dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in her d in later <br />
        dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later <br />

        </p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery</p>
        </div>
        <div class="col-sm-8 col-md-4 projectpanel4">
        <img src="static/images/handpicked.png" alt="Handpicked Brighton Project" class="img-fluid laptop">
        <p class="projectname">Website</p>
        <p class="projecttext">This is just dummy copy this is just dummy copy this is just dummy copy</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMap API</p>
        <img src="static/images/hummingbird.png" alt="Handpicked Brighton Project" class="img-fluid laptop">
        <p class="projectname">Hummingbird Family Services</p>
        <p class="projecttext">This is a website for a fictional family services company. I wanted the user experience to be positive and welcomimg, as these services are mostly contacted in times of struggle and unhappiness. The bright hummingbird illustration feels hopeful and joyous with uplifting colours against a white clean calming background. The clean typography adds to the feeling of calm 
        <br />
        dummy text in here wil  in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later <br />
        dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later <br />
        dummy tex er dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later <br />
        </p>
        <p class="projectprogram">HTML   CSS   Python   MongoDB</p>
        </div>
    </div>

</section>

<!-- Bird -->
        <div class="row col-12 justify-content-center">
            <img id="birdsmall" src="static/images/bird80black.png" alt="Bird" class="img-fluid">
        </div>


<!-- Wildbunch modal1 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/wildproject.png" alt="Wild Bunch Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Wildbunch Florist</h5>
        <p class="modalbody">Wild Bunch is a (fictious) high-end florist based in Soho, central London. I wanted to create a strong visual brand for them using beautiful imagery and an upmarket feel.<br />

        I created the Wild Bunch logo to reflect the brand's values. I used a hand written font to show the brand's wild and care-free attitude, which I feel would resonate with it's customers who want that little bit of wildness in the middle of the city. I tied this with a graphic of branch to give an immediately relatable image to show that they are a flower shop. The branch is repeated across the site and serve as a logo and a section divider.
        <br />
        I used a subtle grey colour for the typography and spaced out the letters of the words the achieve a high-class feel.<br />
        The use of the beautiful flowers for the home and shopping pages again refects the high-end nature of the business. They are deliberately rustic in their style in keeping with the brand values.<br />
        A secondary purple colour works in harmony with the grey, and ties in with the full-screen home page image.<br />
        The Navigation bar is always visible when you are on the site, allowing for easy navigation to any part, no matter where you first land.<br />
        The home button and logo will take you right back to the landing page where you can get your bearings and start your journey.<br />
        The home page has a clear button to direct the user straight to the shopping section if they wish. Once there, there are beautiful flower images to entice which are clickable to show more detal and give options on price and a 'Buy Now' button.<br />
        The About Us page shows off the owners and their beliefs and services. This builds them up as real people you feel you know about and builds a connection.<br />
        The Contact Us box gives the address and contact details, as well as a detailed map of where they can be found.<br />
        In the footer, there are links to all their social media, so you can connect with them more.
        </p>
        <p class="projectprogram">HTML CSS</p>
      </div>

      <div>
        <a class="weblink" href="https://garysimons.github.io/WildBunch-Florist/#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>


<!-- Handpicked Brighton modal2 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/handpickedproject.png" alt="Handpicked Brighton Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Handpicked Brighton</h5>
        <p class="modalbody">This is a visitors guide to the best place to eat, drink and stay in Brighton. It provides the user with a selection of the best that the city has to offer for their time there. I wanted to highlight a 'locals' view of what's great and what they would tell visitors to do and experience it as a local would.<br />
        The illustration on the home page introduces the quirky and playful vibe that Brighton has. It is relaxed and fun. The main sea-green colour used on the website reflect the colour of the paint on the railings and lamp posts etc around the city. It's very much the colour of Brighton, so adds a subtle visual signpost.<br />
        I created the Handpicked Brighton logo to reflect the values of the city. The handwritten font is used to show the creative side and the 'handpicked' aspect as if it's a list written by an actual person. The San Serif is bold, stylish and confident. The two contrast and compliment each other.<br />
        The site is fully responsive, so can be viewed on all devices. This makes it fun and easy to plan your trip from a laptop or tablet from home, or from your phone on the move.<br />
        Each section (EAT, DRINK and STAY) have nine large visual buttons to choose from showing an enticing image of the location, it's name and a simple one word description to give the user help in deciding where to click.<br />
        Each button then takes you to a review page, with a large map showing the location of the venue and a write-up describing it. The bespoke map was designed using Styling Wizard: Google Maps APIs and matches the website colours to enhance the look of the page. At the end of the review is a simple button taking the user to the website, and another taking the user back to the HOME menu.</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMapAPI</p>
      </div>

      <div>
        <a class="weblink" href="https://garysimons.github.io/Handpicked-Brighton/#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>


<!-- Little Monsters modal3 -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/monsterproject.png" alt="Little Monsters Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Little Monsters</h5>
        <p class="modalbody">This is a childrens game involving matching monsters. The freiendly,  colourful characters are boldly displayed on the home page. They are fun and engaging and help create a safe, relaxed environment. The rough and ready typography matches the monster theme of the site and is again friendly and welcoming<br />
        dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in her d in later <br />
        dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later <br />
        </p>
        <p class="projectprogram">HTML CSS</p>
      </div>

      <div>
        <a class="weblink" href="#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>


<!-- Hummingbird modal4 -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/hummingbirdproject.png" alt="Hummingbird Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Hummingbird Family Services</h5>
        <p class="modalbody">This is a website for a fictional family services company. I wanted the user experience to be positive and welcomimg, as these services are mostly contacted in times of struggle and unhappiness. The bright hummingbird illustration feels hopeful and joyous with uplifting colours against a white clean calming background. The clean typography adds to the feeling of calm 
        <br />
        dummy text in here wil  in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later <br />
        dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later <br />
        dummy tex er dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later dummy text in here will be filled in later 
        </p>
        <p class="projectprogram">HTML   CSS   Python   MongoDB</p>
      </div>

      <div>
        <a class="weblink" href="#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>

{% endblock content %}


