{% extends "base.html" %}
{% block content %}

<section id="projects">
    <div class="row justify-content-center">
        <h3 class="col-sm-12 col-md-8 sectionhead">projects.</h3>
    </div>
    
    <div class="row justify-content-center">

        <div class="col-sm-8 col-md-4 projectpanel1">
        <img src="static/images/wildbunch.png" alt="Wild Bunch Florist" class="img-fluid laptop" data-toggle="modal" data-target="#modal1">
        <p class="projectname">Wildbunch Florist</p> 
        <a class="view" aria-label="View website" data-toggle="modal" data-target="#modal1">
            <p class="view">view</p>
        <span class="sr-only">view</span>
        </a>
        </div>

        <div class="col-sm-8 col-md-4 projectpanel2">
        <img src="static/images/handpicked.png" alt="Handpicked Brighton" class="img-fluid laptop" data-toggle="modal" data-target="#modal2">
        <p class="projectname">Handpicked Brighton</p> 
        <a class="view" aria-label="View website" data-toggle="modal" data-target="#modal2">
            <p class="view">view</p>
        <span class="sr-only">view</span>
        </a>

        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-sm-8 col-md-4 projectpanel3">
        <img src="static/images/monsters.png" alt="Little Monsters" class="img-fluid laptop" data-toggle="modal" data-target="#modal3">
        <p class="projectname">Little Monsters</p> 
        <a class="view" aria-label="View website" data-toggle="modal" data-target="#modal3">
            <p class="view">view</p>
        <span class="sr-only">view</span>
        </a>
        </div>

        <div class="col-sm-8 col-md-4 projectpanel4">
        <img src="static/images/hummingbird.png" alt="Hummingbird Family Services" class="img-fluid laptop" data-toggle="modal" data-target="#modal4">
        <p class="projectname">Hummingbird Family Services</p> 
        <a class="view" aria-label="View website" data-toggle="modal" data-target="#modal4">
            <p class="view">view</p>
        <span class="sr-only">view</span>
        </a>
        </div>
    </div>

</section>

<!-- Bird -->
        <div class="row col-12 justify-content-center">
            <img id="birdsmall" src="static/images/bird80black.png" alt="Bird" class="img-fluid">
        </div>



<!-- Wildbunch modal1 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/wildproject.png" alt="Wild Bunch Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Wildbunch Florist</h5>
        <p class="modalbody">Wild Bunch is a (fictious) high-end florist based in Soho, central London. I wanted to create a strong visual brand for them using beautiful imagery and an upmarket feel.<br />
        I created the Wild Bunch logo to reflect the brand's values. I used a hand written font to show the brand's wild and care-free attitude, which I feel would resonate with it's customers who want that little bit of wildness in the middle of the city. I tied this with a graphic of branch to give an immediately relatable image to show that they are a flower shop. 
        </p>
        <p class="projectprogram">HTML CSS</p>
      </div>

      <div>
        <a class="weblink" href="https://garysimons.github.io/WildBunch-Florist/#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>


<!-- Handpicked Brighton modal2 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/handpickedproject.png" alt="Handpicked Brighton Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Handpicked Brighton</h5>
        <p class="modalbody">This is a visitors guide to the best place to eat, drink and stay in Brighton. It provides the user with a selection of the best that the city has to offer for their time there. I wanted to highlight a 'locals' view of what's great and what they would tell visitors to do and experience it as a local would.</p>
        <p class="projectprogram">HTML   CSS   JavaScript   JQuery    GoogleMapAPI</p>
      </div>

      <div>
        <a class="weblink" href="https://garysimons.github.io/Handpicked-Brighton/#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>


<!-- Little Monsters modal3 -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/monsterproject.png" alt="Little Monsters Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Little Monsters</h5>
        <p class="modalbody">This is a childrens game involving matching monsters. The friendly,  colourful characters are boldly displayed on the home page. They are fun and engaging and help create a safe, relaxed environment. The rough and ready typography matches the monster theme of the site and is again friendly and welcoming.<br />
        </p>
        <p class="projectprogram">HTML CSS</p>
      </div>

      <div>
        <a class="weblink" href="#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>


<!-- Hummingbird modal4 -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="Project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-md-12 ml-auto justify-content-center">
      
        <a class="shut" data-dismiss="modal">X</a>
        
        <div>
            <img src="static/images/hummingbirdproject.png" alt="Hummingbird Project" class="img-fluid laptop" data-toggle="modal" data-target="">
        </div>

      <div>
        <h5 class="modaltitle">Hummingbird Family Services</h5>
        <p class="modalbody">This is a website for a fictional family services company. I wanted the user experience to be positive and welcomimg, as these services are mostly contacted in times of struggle and unhappiness. The bright hummingbird illustration feels hopeful and joyous with uplifting colours against a white clean calming background. The clean typography adds to the feeling of calm.
        </p>
        <p class="projectprogram">HTML   CSS   Python   MongoDB</p>
      </div>

      <div>
        <a class="weblink" href="#" target="_blank" aria-label="Weblink">
            <p>website</p>
        </a>
      </div>

      <a class="shut" data-dismiss="modal">close</a>
    </div>
  </div>
</div>

{% endblock content %}


