<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills</title>
</head>
<body>
    <h1>Skills</h1>
    {% for skills in skills %}
        {{skills.skill_html}}
        {{skills.skill_css}}
        {{skills.skill_javascript}}
        {{skills.skill_jquery}}
        {{skills.skill_python}}
        {{skills.skill_mongodb}}
        {{skills.skill_mysql}}
        {{skills.skill_angular}}
        {{skills.skill_flutter}}
        {{skills.skill_react}}
    {% endfor %}
</body>
</html>