<footer class="row">
	<div class="col-12">
		<ul class="list-inline sociallinks">
			<li class="list-inline-item">
				<a href="https://www.linkedin.com/in/gary-simons/" target="_blank"
					aria-label="Connect with me on LinkedIn" rel="noopener">
					<i class="fab fa-linkedin" aria-hidden="true"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://github.com/" target="_blank" aria-label="Check out my GitHub" rel="noopener">
					<i class="fab fa-github" aria-hidden="true"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://twitter.com/GaryColSim" target="_blank" aria-label="Follow me on Twitter"
					rel="noopener">
					<i class="fab fa-twitter" aria-hidden="true"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.facebook.com/gary.coldwellsimons" target="_blank"
					aria-label="Follow me on Facebook" rel="noopener">
					<i class="fab fa-facebook-square" aria-hidden="true"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.instagram.com/garycs" target="_blank" aria-label="Follow me on Instagram"
					rel="noopener">
					<i class="fab fa-instagram" aria-hidden="true"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="sociallinkcv" href="static/images/Gary_Simons_CV.pdf" target="_blank"
					aria-label="Download my CV" rel="noopener">CV</a>
			</li>
		</ul>
	</div>
	<div class="col-12">
		<p id="copyright">copyright &copy gary simons <script>
				document.write( new Date().getFullYear() );
			</script>
		</p>
	</div>
</footer>